@font-face{
    font-family:Print;
    src: url(fonts/Print.ttf);
}
@font-face{    
    font-family:Writing;
    src: url(fonts/Handwriting.ttf);
}
@font-face{
    font-family:Bold;
    src: url(fonts/Bold.ttf);
}
body{
    background-image: url(images/city.jpg);
    background-repeat:no-repeat;
    background-color: #95dbf9;
    background-position: left top;
    background-attachment: fixed;
    color: white;
    background-size: 100% 100%
}
h1{
    font-family: "Bold", "Print";
    font-size: 100%
}
p1{
    font-family: "Print";
    font-size: 125%
}
p2{
    font-family: "Writing", "Print";
    font-size: 250%;
}
p3{
    font-family: "Bold";
    font-size: 75%
}
li{
    font-family: "Print";
    font-size: 125%
}
table{
    font-family: "Print";
    font-size: 125%
}
ol{
    font-family:"Print";
    font-size:100%;
}
a{
    font-family:"Print";
    font-size:100%
}
#nav {
    font-family: "Bold";
    color: white
}
#nav {
    list-style-type: none;
    margin: 0;
    padding-bottom: 0;
    overflow: hidden;
    background-color: #94aace;
}
#nav li {
    float: left;
}
#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#nav li a:hover {
    background-color: #415370;
}
#nav li a:hover:not(.active) {
    background-color: #51a8ad;
}

#nav .active {
    background-color: #55a8ad;
}
#nav li {
    border-right: 1px solid #bbb;
}

#nav li:last-child {
    border-right: none;
}
#links a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
#links a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
#links a:hover {
    color: purple;
    background-color: transparent;
    text-decoration: underline;
}
#links a:active {
    color: purple;
    background-color: transparent;
    text-decoration: underline;
}